<div class="info-div">

  <div class="flag-and-name">

      <div class="centered-flag-and-info">

        <h1><%= country.name %></h1>

        <img class="flag" src="<%= country.flag %>">

        <h3><%= country.official_name %></h3>

    </div>

    </div>

  </div>

  <div class="travel-info">

  <h3>Travel Information:</h3>


  <% if warnings.length >= 1 %>

    <div class="travel-warnings">

      <div class="travel-alert-icon">

        <img src=<%= asset_path("/atlasnomad_warning_logo.png") %> class="alert-icon">

      </div>

      <div "travel-alerts-text">

      <ol>
          <% warnings.each do |warning| %>
              <li>
                <p><u>Travel Alert:
                  <%= warning.warning_type %>
                </u></p>
              </li>
              <p>Date:
                <%= warning.date %>
              </p>
              <p>
                <a href="<%= warning.warning_link %>" target="_blank">More Information</a>
              </p>
          <% end %>
      </ol>

      </div>

    </div>

  <% end %>

  <h4>Visa Required?</h4>
    <%= country.tourist_visa %>


  <h4>Passport Validity:</h4>
    <p><%= country.passport_validity %></p>


  <h4>Passport Pages Required:</h4>
    <p><%= country.passport_pages %></p>


  <h4>Vaccinations:</h4>
    <p><%= country.vaccinations %></p>

  <h4>Climate:</h4>
    <p><%= country.climate %></p>

  <h4>Languages:</h4>
    <p><%= country.languages %></p>

  <h4>Religion:</h4>
    <p><%= country.religions %></p>

  <h4>Power:</h4>
    <p>Volts: <%= country.volts %></p>
    <p>Sockets: <%= country.sockets %></p>

</div>
