<div class="info-div">

  <div class="flag-and-name">

      <div class="centered-flag-and-info">

        <h1><%= country.name %></h1>

        <img class="flag" src="<%= country.flag %>">

        <h3><%= country.official_name %></h3>

    </div>

    </div>

  </div>

  <div class="travel-info">

  <h3>Travel Information:</h3>

  <h4>Visa Required?</h4>
    <%= country.tourist_visa %>


  <h4>Passport Validity:</h4>
    <p><%= country.passport_validity %></p>


  <h4>Passport Pages Required:</h4>
    <p><%= country.passport_pages %></p>


  <h4>Vaccinations:</h4>
    <p><%= country.vaccinations %></p>


  <h4>Languages:</h4>
    <p><%= country.languages %></p>


  <h4>Climate:</h4>
    <p><%= country.climate %></p>


</div>
