<div class="info-div">

  <div class="flag-and-name">

    <img class="flag" src="<%= country.flag %>">

    <div class="country-name">

      <h2><%= country.name %></h2>

      <h4><%= country.official_name %></h4>

    </div>

  </div>

  <p>Visa Required? <br>
    <%= country.tourist_visa %>
  </p>

  <p>Passport Validity: <br>
    <%= country.passport_validity %>
  </p>

  <p>Passport Pages Required: <br>
    <%= country.passport_pages %>
  </p>

  <p>Vaccinations: <br>
    <%= country.vaccinations %>
  </p>

  <p>Languages <br>
    <%= country.languages %>
  </p>

  <p>Climate: <br>
    <%= country.climate %>
  </p>

</div>
